@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .animate-tooltip-enter {
    animation: animate-tooltip-enter 0.1s forwards ease-out;
  }

  @keyframes animate-tooltip-enter {
    0% {
      transform: scale(1.05);
      opacity: 0;
    }
    75% {
      transform: scale(1.02);
      opacity: initial;
    }
    100% {
      transform: scale(1);
    }
  }

  .animate-tooltip-out {
    animation: animate-tooltip-out 0.1s forwards ease-out;
  }

  @keyframes animate-tooltip-out {
    0% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(0.8);
      opacity: 0;
    }
  }

  .spin {
    animation: spin 3s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
      opacity: 0.5;
    }
    100% {
      transform: rotate(360deg);
      opacity: 1;
    }
  }

  .animate-in {
    animation: animate-in 1s linear forwards;
  }

  @keyframes animate-in {
    0% {
      opacity: 0.2;
    }
    25% {
      opacity: 0.8;
    }
    50% {
      opacity: 0.9;
    }
    75% {
      opacity: 0.8;
    }
    100% {
      opacity: 0;
    }
  }
}
